.root__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  position: relative;
}

/*
================
    Header
================
*/

/*
    Slide Menu
= = = = = = = = =
*/
.side-menu__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
}

.side-menu__container-active {
  pointer-events: auto;
}

.side-menu__container::before {
  content: '';
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0c1066;
  opacity: 0;
  transition: opacity 300ms linear;
  will-change: opacity;
}

.side-menu__container-active::before {
  opacity: 0.3;
}

.slide-menu {
  box-sizing: border-box;
  transform: translateX(-103%);
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 90%;
  max-width: 26rem;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  transition: transform 300ms linear;
  will-change: transform;
}

.slide-menu-active {
  transform: none;
}

.menu-header {
  background: linear-gradient(to right, #00FF9B, #5f84fb);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "greeting greeting" "image details";
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  color: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.greeting__text {
  grid-area: greeting;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
}

.account-details {
  grid-area: details;
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  align-self: center;
}

.name__text {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.email__text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.menu-body {
  display: grid;
  width: 100%;
}

.menu-body__nav {
  list-style-type: none;
}

.menu-body__nav li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: 1px solid #8ca49d;
}

.menu-body__nav li:last-child {
  margin-bottom: 0;
  cursor: pointer;
}

.menu-body__nav li,
.menu-body__nav a {
  color: #333;
}

.menu-body__nav a {
  text-decoration: none;
}

.profile-image__container {
  grid-area: image;
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  align-self: center;
  margin-left: 2rem;
}

.profile__image {
  max-width: 4rem;
}

/*Header*/
.main__header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 1fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  height: 4rem;
  margin: 0;
  align-items: center;
  transition: background-color 500ms linear;
  animation: 1s ease-in-out 0ms 1 fadein;
}

.main__header-dark {
  background-color: #2B244D;
  color: white;
}

.main__header-dark .hamburger__icon__fill {
  fill: #fff;
}

.main__header-dark .logo__text {
  fill: #fff;
}

.toggle-button__container {
  cursor: pointer;
  position: relative;
  margin: 0 0.5rem;
}

.mode-toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mode-toggle__bg {
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  transition: background-color 300ms linear;
}

.mode-toggle__circle {
  height: 1.30rem;
  width: 1.30rem;
  background-color: #2B244D;
  position: absolute;
  top: -0.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
  transition: left 300ms linear;
  left: 0.1rem;
}

.mode-toggle__circle-checked {
  background-color: white;
  left: 1.75rem;
}

.mode-toggle__bg-checked {
  background-color: #FF0070;
}

.mode-toggle__text {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*Content*/
.left__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 5rem;
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
}

/*SVGs*/
.hamburger__icon {
  position: relative;
  z-index: 35;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo__icon {
  height: 2rem;
  margin-left: 1rem;
}

.logo__text {
  fill: #2B244D;
}

.logo__text-dark {
  fill: #ffff;
}

.hamburger__icon__fill {
  fill: #2B244D;
}

.hamburger__icon__fill-dark {
  fill: #ffff;
}

/*
================
    Body
================
*/

.main-container__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  background: white;
  transition: opacity 300ms linear;
}

.main-container__bg-dark {
  opacity: 1;
  background: linear-gradient(to bottom, #B290FF, #2E1D65);
  transition: opacity 300ms linear;
}

/*
================-
    Footer
================
*/
.main__footer {
  background: transparent;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  z-index: 100;
}

.copyright__text {
  letter-spacing: 0.1rem;
  color: white;
}


.add-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  height: 87vh;
  width: 90vw;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  margin-top: -4rem;
}

.add-city-btn {
  padding: 0.75rem 1.5rem;
  background-color: #003EFF;
  outline: none;
  border: none;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}

.city-search-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  position: relative;;
  overflow-y: auto;
}

.city-search-header {
  width: 100%;
  min-height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.city-search-body {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.city-search-hr {
  word-spacing: 1rem;
  margin: 2rem;
}


.search-city-input-wrapper {
  position: relative;
  width: 80%;
  box-sizing: border-box;
}

.search-city-input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
}

.search-city-input::placeholder {
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.search-city-btn {
  cursor: pointer;
  position: absolute;
  background-color: #31feae;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  right: 0;
  top: -0.35rem;
  outline: none;
  border: none;
  z-index: 5;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
}

.search-icon {
  height: 50%;
  width: 50%;
}

.fav-city-wrapper {
  flex: 1 1;
  position: relative;;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

.fav-city-image {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}


.fav-city-image-overlay {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(43, 36, 77, 0.5);
  border-radius: 0 1rem 1rem 0;
}



.fav-city-body, .fav-city-header {
  position: relative;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

.fav-city-body-subwrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.fav-city-hr {
  width: 3rem;
}

.fav-city-title, .city-search-title {
  font-size: 1.85rem;
  letter-spacing: 0.1rem;
  word-break: break-all;
}

.fav-city-title {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.city-search-title {
  color: #0c1066;
  margin: 4rem 0 3rem 0;
}


.fav-city-date {
  margin-top: 0.5rem;
}

.fav-city-temp {
  font-size: 5rem;
  text-align: center;
}

.fav-city-name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.fav-weather-icon {
  width: 7rem;
  margin-bottom: 4rem;
}


.fav-city-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: -2rem;
}

.fav-city-state {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.fav-city-country {
  margin-left: 0.75rem;
}

.fav-city-name-wrapper {
  margin-bottom: 2rem;
}

.fav-city-add-btn {
  cursor: pointer;
  outline: none;
  margin-bottom: 2rem;
  border: 2px solid white;
  border-radius: 3rem;
  padding: 1.25rem 2rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.fav-city-add-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.fav-city-added-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

app-weather-card {
  margin: 2rem 0;
  min-width: 28rem;
}

/* Media Query:   LT-XL  */
@media screen and (max-width: 1919px) {
  .add-city-btn {
    height: 80%;
    width: 75%;
  }
}

/* Media Query:   LT-MD   */
@media screen and (max-width: 959px) {

  app-weather-card {
    width: 90%;
    margin-bottom: 2rem;
  }

  .fav-city-wrapper {
    height: auto;
  }

  .add-wrapper {
    flex-flow: column;
  }

  .main-card {
    flex-flow: column;
    margin-left: -1rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .city-search-title {
    margin: 2rem;
  }

  .fav-city-wrapper, .city-search-wrapper, .city-search-header, .city-search-body, .fav-city-header, .fav-city-body, .fav-city-body {
    width: 100%;
  }

  .fav-city-wrapper, .fav-city-image, .fav-city-image-overlay {
    border-radius: 0 0 1rem 1rem;
  }

  .fav-city-image {
    background-size: cover;
    background: no-repeat 50% 50%;
  }

}

@media only screen and (max-width: 300px) {
  .slide-menu {
    width: 100%;
  }
}
